
@{

    ViewBag.Title = "Home Page";
}

<table class="table tableEnergy">
    <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Описание</th>
            <th>Представление</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (ShopEnergy.Models.Product b in Model)
        {
            <form method="post" action="/Home/Index">
                <tr class="formEnergy">

                    <td scope="row"> <input value="@b.Id" name="Id" readonly /> </td>

                    <td><input value="@b.Name" type="text" name="Name" readonly /></td>
                    <td><input value="@b.Price" name="Price" readonly /></td>
                    <td><textarea name="DescriptionText" disabled cols="50"> @b.DescriptionText </textarea></td>
                    <td><img src="~/Content/ProductImg/@b.DescriptionImg" /> </td>

                    @if (User.IsInRole("user"))
                    {
                        <td> <input type="submit" value="Купить" readonly class="box" /> </td>
                    }
                </tr>
            </form>
        }
    </tbody>
</table>




