
body {
    background-color: #155C5F;
}

 footer, li, address, p {
    color: #EEEEEE;
}
h1, h2, h3, h4, h5, a {
    color: #F26C68;
}
a:hover {
    color: #212121;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
}

table {
    border-radius: 30px;
}

 
/*/////////////////////////////////////////// Animate*/
 

tr {
    border-radius: 6px;
    cursor: pointer;
     
     
    
    transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
    
}

    tr:hover {
        background: #155C5F;
        border-radius: 40px;
    }

img {
    transition: all 1s ease-out;
}

    img:hover {
        transform: scale(1.3);
    }

.box {
    background: #F26C68;
    border-radius: 6px;
    cursor: pointer;
    height: 95px;
    line-height: 95px;
    text-align: center;
    transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
    width: 95px;
}

    .box:hover {
        background: #212121;
        border-radius: 50%;
    }

.btnDelete{
    text-align:right;
}
/*///////////////////////////////////////////*/
.HeaderEnergy {
    background-color: #212121;
}

#HeaderEnergyForegraundColor a {
    color: #EEEEEE;
    font-size: 1.2em;
}

    #HeaderEnergyForegraundColor a:hover {
        color: #f26c68;
    }

.tableEnergy {
    margin-top: 50px;
    background-color: #212121;
    color: #E0E0E0;
    border-spacing: 0px;
}

    .tableEnergy thead {
        color: #F9918E;
    }

    .tableEnergy img, .tableEnergyEdit img, .tableEnergy tr td img{
        width: auto;
        height: 200px;
    }

.formEnergy td input,
.formEnergy td textarea {
    background-color: transparent;
    border: 0px;
}

.formEnergy td textarea {
    height: 200px;
}

.formEnergyAdd td input,
.formEnergyAdd td textarea {
    border: inset 2px #616161;
    margin: 10px;
    color: #EEEEEE;
}

    .formEnergyAdd td input:focus,
    .formEnergyAdd td textarea:focus {
        background-color: transparent;
    }


.tableEnergyEdit {
    margin-top: 50px;
    background-color: transparent;
    color: #E0E0E0;
    border-spacing: 0px;
}

.formEnergy   td   
{
    text-align: center;
}

form tr:last-child button {
    margin-bottom: 20px;
}

  

    /*////////////////////// scroll start*/
    ::-webkit-scrollbar {
        width: 12px;
    }

::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

    ::-webkit-scrollbar-thumb:hover {
        border-width: 1px 1px 1px 2px;
        border-color: #555;
        background-color: #777;
    }

::-webkit-scrollbar-track {
    border-width: 0;
}

    ::-webkit-scrollbar-track:hover {
        border-left: solid 1px #aaa;
        background-color: #eee;
    }
/*////////////////////// scroll end*/